
.mygrid {
    display: grid;
    margin: 20px;
    width: auto;
   grid-gap: 0px;
    
    
    grid-template-columns: 100px auto 100px;
    grid-template-rows: auto 200px 200px 100px;
    grid-template-areas: "logo header header"
                        "about content contact"
                        "works content contact"
                        "footer footer footer"
                        
}

 

header {
            background: no-repeat top center;
            color: black;
            font-size: 24px; 

        }

 a {
  position: relative;
  color: #000;
  text-decoration: none;
}

 a:hover {
  color: #000;
}



body {
            background: no-repeat top center;
            color: #000;
            padding-left: 0px;
            padding-right: 0px;
    
    
        }
.mgrid>* {
    border: 1px dashed yellow;
    
}


.header {
    grid-area: header;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
    font-family: "Suisse Int'l", sans-serif;
    
}

.logo {
    grid-area: logo;
    height: auto;
    
}

.works {
    grid-area: works;
    font-size: 20px;
    text-align: center;
    font-family: "Suisse Sign Trial", serif;
    
    padding-top: 100px;
}

.about {
    grid-area: about;
    font-size: 20px;
    text-align: center;
    font-family: "Suisse Sign Trial", sans-serif;
    
    padding-top: 100px;
}

.contact {
    grid-area: contact;
    font-size: 20px;
    font-family: "Suisse Sign Trial", sans-serif;
    text-align: center;
    
    padding-top: 100px;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content { 
    grid-area: content;
    font-size: 20px;
    font-size: 64px;
    font-family: "Suisse Sign Trial", sans-serif;
    font-weight: regular;
    text-align: center;
    line-height: 0.2;
    text-decoration: none;
    padding-top: 30px;
    color: aqua;
    
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.aboutme { 
    grid-area: content;
    font-size: 25px;
    font-family: "Suiss Sign Trial", sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    
     
    
}

.linkcontact{
    -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
    
}

.linkabout{
    -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */
    
}
.linkaboutpo{
    -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */
 text-decoration-line: underline;
    
}
.linkworks{
    -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */
    
}
.foto{ 
text-align: left;
padding-left: 20px;
    padding-top: 20px;}

.footer{
    grid-area: footer;
    font-size: 10px;
    font-family: "Suiss Sign Trial", sans-serif;
    text-align: right;
    float: left;
    padding-top: 90px;
}

